/node_modules
.env
dev.js
cli/.gitignore
cli/.eslintcache
.vscode
cli/public/logo512.png
.gitignore
cli/public/robots.txt
cli/src/logo.svg
cli/public/logo192.png
server/routes/chart.js
data/
correct.mp3
wrong1.mp3
Test.jsx
cli/src/constants/image/mueStudio.jpg
cli/src/constants/image/Cristina-La-Porta-Chill-Solarium.jpg
cli/src/constants/image/outroImage/error.svg
.gitignore
