$margin: 1rem;
$border-radius: 15px;
$big-border-radius: 25px;
$font-small: 16px;

.box-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .glass-wrapper {
    width: 30rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgba(255, 255, 255, 0);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.116) 0%,
      rgba(255, 255, 255, 0.507) 100%
    );
    box-shadow: 0 8px 32px 0 rgba(111, 113, 136, 0.37);
    backdrop-filter: blur(12.5px);
    -webkit-backdrop-filter: blur(14.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.233);
  }
}
