$margin: 1rem;
$padding-small: 0.4rem;
$border-radius: 15px;
$font-small: 16px;
$font-mini: 14px;
$font-korean: Nanum Gothic;
$color-one: #ffb8b8;
$color-two: rgba(251, 128, 165, 0.2);

.rank-table-container {
  width: 100%;
  margin: $margin;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: $font-korean;
  font-size: $font-small;
  color: #2c2c2c;

  background: rgba(255, 255, 255, 0);
  background: linear-gradient(
    70deg,
    rgba(255, 255, 255, 0.075) 0%,
    rgba(246, 185, 185, 0.26) 100%
  );
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border: 1px solid rgba(255, 255, 255, 0.233);

  .rank-table-title {
    width: 100%;
    height: 2rem;
    padding: 0 $margin;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-size: $font-small;
    font-weight: bold;

    background: transparent;
    border: none;
    cursor: pointer;

    background-image: linear-gradient(120deg, $color-one 0%, $color-two 100%);
    background-repeat: no-repeat;
    background-size: 100% 0%;
    background-position: 100% 100%;
    transition: background-size 0.3s ease;

    span {
      display: flex;
      align-items: flex-start;

      #icon {
        margin-right: 7px;
      }

      #total {
        font-size: $font-mini;
        font-weight: 200;
        color: rgba(0, 0, 0, 0.7);
        margin-left: 7px;
      }
    }

    &:hover {
      border: none;
      outline: none;
      background-size: 100% 100%;
    }

    &:focus {
      outline: none;
    }

    .accordion-icon {
      transition: transform 0.3s ease;
      margin-left: 4px;
    }

    .rotate {
      transform: rotate(90deg);
    }
  }

  .rank-table-content {
    width: 100%;
    overflow: hidden;

    .rank-table {
      padding: 0.3rem $margin;

      .rankers-record {
        font-weight: 200;
      }

      #name {
        width: 65%;
      }

      #record {
        text-align: right;
      }

      th {
        padding: 4px;
      }

      #myRecord {
        color: #000000;
        font-weight: bold;
      }
    }
  }

  .users-average-data {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0.5rem 24px;
    align-items: flex-end;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    padding: 0.5rem 0;

    .users-data {
      width: 60%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      line-height: 24px;
      font-size: $font-small;
    }
  }
}
