/* .container {
  overflow: hidden;
  max-width: 60vw;

  height: 10vh;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  padding: 25px 40px;
  font-size: bold;
  text-decoration: none;
  margin-top: 50px;
  border: 2px solid #f2e8ec;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5, #f2e8ec));
  box-shadow: 15px 15px 20px rgba(207, 185, 185, 0.459),
    -15px -15px 20px #fbf4f7, inset -5px -5px 5px rgba(255, 255, 255, 0.5);
}

.container:hover {
  border: none;
  background: linear-gradient(
    145deg,
    #fff8fd 0%,
    rgba(246, 223, 231, 0.8) 66%,
    #eadce1 100%
  );
  box-shadow: 15px 15px 20px rgba(207, 185, 185, 0.459),
    inset 5px 5px 5px rgba(255, 255, 255, 0.5),
    inset 5px 5px 5px rgba(255, 255, 255, 0.5), -3px -3px 60px #ffffff;
} */

.container {
  width: 40vw;

  height: 5vh;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  padding: 25px 40px;
  font-size: bold;
  text-decoration: none;

  background: rgb(12, 5, 149);
  background: linear-gradient(
    52deg,
    rgba(12, 5, 149, 1) 4%,
    rgba(66, 57, 251, 1) 34%,
    rgba(219, 132, 199, 1) 100%
  );

  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.383);
}

label {
  font-weight: bold;
  color: white;
}
