* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  padding-top: 10vh;

  position: static;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.answer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 10rem;
  width: 20rem;

  margin-top: 2rem;

  background: rgba(255, 255, 255, 0);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.116) 0%,
    rgba(255, 255, 255, 0.507) 100%
  );
  box-shadow: 0 8px 32px 0 rgba(111, 113, 136, 0.37);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.233);
}
