.center {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center .left-quiz {
  position: absolute;
  left: 0;
  top: 1rem;
  margin-left: 1.3rem;
}

.center .session {
  margin: 1rem;
  background: rgba(131, 127, 127, 0.082);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(165, 165, 165, 0.233);
}

.center .answer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20rem;
  height: 17rem;
  background: rgba(255, 255, 255, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.116)), to(rgba(255, 255, 255, 0.507)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.116) 0%, rgba(255, 255, 255, 0.507) 100%);
  -webkit-box-shadow: 0 8px 32px 0 rgba(111, 113, 136, 0.37);
          box-shadow: 0 8px 32px 0 rgba(111, 113, 136, 0.37);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.233);
}

.center .answer-wrapper .hint-wrapper {
  font-family: "Montserrat", sans-serif;
  height: 3rem;
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-display: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.center .answer-wrapper .hint-wrapper .correct-answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center .answer-wrapper .hint-wrapper .correct-answer span {
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-align: left;
}

.center .answer-wrapper .input-wrapper {
  position: relative;
  width: 80%;
  height: 3rem;
  margin: 1rem auto;
}

.center .answer-wrapper .input-highlight {
  font-size: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 70px;
  border-top: 3px solid white;
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 100%;
  height: 0;
  color: transparent;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

.center .answer-wrapper input {
  width: 100%;
  height: 60px;
  padding: 0;
  border-radius: 0;
  line-height: 70px;
  background-color: transparent;
  color: black;
  font-size: 30px;
  border: none;
  outline: none;
  border-bottom: 3px solid #333333;
  font-family: "Montserrat", sans-serif;
}

.center .answer-wrapper input:focus + .input-highlight {
  border-top: 3px solid #ff88c3;
}

.center .answer-wrapper ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.527);
}

.center .answer-wrapper :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.527);
}

.center .answer-wrapper ::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.527);
}

.center .answer-wrapper ::placeholder {
  color: rgba(255, 255, 255, 0.527);
}
/*# sourceMappingURL=GameLayout.css.map */