$input-font-size: 30px;
$input-line-height: 70px;
$font-family: 'Montserrat', sans-serif;
$margin: 1rem;

.input-wrapper {
  position: relative;
  width: 80%;
  height: 3rem;
  margin: $margin auto;
}

.input-highlight {
  font-size: $input-font-size;
  user-select: none;
  line-height: $input-line-height;
  border-top: 3px solid white;
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 100%;
  height: 0;
  color: transparent;
  font-family: $font-family;
  overflow: hidden;
}

input {
  width: 100%;
  height: 60px;
  padding: 0;
  border-radius: 0;
  line-height: $input-line-height;
  background-color: transparent;
  color: black;
  font-size: $input-font-size;
  border: none;
  outline: none;
  border-bottom: 3px solid #333333b9;
  font-family: $font-family;
  align-items: center;

  &:focus {
    + .input-highlight {
      border-top: 3px solid #ff69b4;
    }
  }
}

::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
