$margin: 1rem;
$border-radius: 15px;
$big-border-radius: 25px;
$font-small: 16px;

.current-record-table {
  width: 90%;
  display: flex;
  flex-direction: column;

  background: rgba(255, 255, 255, 0);
  background: linear-gradient(
    180deg,
    rgba(240, 138, 138, 0.15) 0%,
    rgba(246, 185, 185, 0.26) 100%
  );
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border: 1px solid rgba(255, 255, 255, 0.233);

  overflow: hidden;

  .table-title-wrapper {
    width: 100%;
    height: 2rem;
    padding: 0 $margin;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-size: $font-small;

    background: transparent;
    border: none;
    cursor: pointer;

    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 0%;
    background-position: 100% 100%;
    transition: background-size 0.3s ease;

    &:hover {
      border: none;
      outline: none;
      background-size: 100% 100%;
    }

    &:focus {
      outline: none;
    }

    .table-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 2rem;

      #explain-count-list {
        display: flex;
        flex-direction: row;

        li {
          margin-right: $margin;
          list-style: none;

          span {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: rgba(0, 0, 0, 0.7);

            #icon {
              margin-right: 5px;
              color: black;
            }
          }
        }
      }
    }

    .accordion-icon {
      transition: transform 0.3s ease;
    }

    .rotate {
      transform: rotate(90deg);
    }
  }
  .current-record-content {
    width: 100%;
    overflow: hidden;
    padding: 0 $margin;
    margin-bottom: 1rem;

    #trackName {
      text-align: left;
      padding: 0 1rem;
    }

    #index {
      width: 2rem;
      padding: 0;
      text-align: center;
    }
  }
}
